<header class="bg-black lg:fixed lg:inset-y-0 lg:left-0 lg:flex lg:w-[500px] lg:items-start lg:overflow-y-auto lg:overflow-x-hidden bg-gradient-to-r lg:bg-gradient-to-b from-primary via-secondary to-tertiary" data-turbo-permanent>
  <div class="relative z-10 mx-auto px-4 pb-4 pt-10 sm:px-6 md:px-4 w-auto lg:ml-16 lg:min-h-full lg:py-12 lg:px-8 xl:px-12">
    <div class="absolute bg-gradient-to-bl from-bege-100 to-bege-200 opacity-90 inset-0 bottom-0 lg:bottom-16 -z-10 lg:rounded-bl-2xl"></div>
    <% link_to "/", class: "block w-1/2 lg:w-full mx-auto rounded-2xl overflow-hidden shadow-lg ring-white ring-1" do %>
      <%= image_tag "images/logo.jpg" %>
    <% end %>
    <div class="mt-10 text-center lg:mt-12 lg:text-left">
      <p class="mt-3 text-lg font-medium text-slate-900">A non-elementary newsletter and podcast on old crime stories.</p>
      <p class="mt-3 text-slate-700">This is a completetly fictional site created to showcase what you can do using Memberful, a membership program platform.</p>
    </div>
    <div class="mt-10 text-center lg:mt-12 lg:text-left">
      <p class="mt-2 text-base leading-7 text-gray-700 lg:line-clamp-4 hidden">In this show, Eric and Wes dig deep to get to
        the facts with guests who have been labeled villains by a society quick to judge, without actually getting the
        full story. Tune in every Thursday to get to the truth with another misunderstood outcast as they share the
        missing context in their tragic tale.
      </p>
    </div>

    <%= partial "shared/header_icons" %>
  </div>
</header>
