<nav class="fixed bottom-0 block w-full lg:left-16 h-16 lg:bg-gradient-to-l from-primary via-secondary to-tertiary text-white z-20">
  <ul class="flex items-center h-full font-semibold">
    <li class="px-6"><a href="#" class="hover:underline">Episodes</a></li>
    <li class="px-6"><a href="#" class="hover:underline">About</a></li>
    <li class="px-6"><a href="#" class="hover:underline">Subscribe</a></li>
    <li class="px-6"><a href="#" class="hover:underline">Next episodes</a></li>
  </ul>
</nav>
