<h2 class="text-lg text-gray-800 border-b p-8 lg:px-16 font-bold">Newsletter</h2>

<p class="p-8 lg:px-16">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi eum aut consequuntur reprehenderit repudiandae? Dolorem reiciendis, id aut officia optio enim, inventore hic, consequuntur tempora facilis impedit ipsa eligendi sapiente!</p>
