<section class="p-8 lg:px-16 bg-gradient-to-b from-bege-100 to-white" data-controller="toggle">
  <p class="text-xl text-center max-w-2xl mx-auto mb-10">The Crime Chronicles club is an members-only space where you get access to all our podcast episodes and to our newsletter.</p>

  <div class="mx-auto w-auto text-center border-t border-dashed py-10 mt-10">
    <div class="inline-flex gap-4 items-center text-slate-800">
      <button class="group is-active" data-toggle-target="trigger" data-trigger-for="monthly" data-action="toggle#toggle">
        <span class="py-2 border-b-2 border-transparent group-[.is-active]:text-black group-[.is-active]:font-semibold group-[.is-active]:border-current">Monthly</span>
      </button>
      <button class="group" data-toggle-target="trigger" data-trigger-for="yearly" data-action="toggle#toggle">
        <span class="py-2 border-b-2 border-transparent group-[.is-active]:text-black group-[.is-active]:font-semibold group-[.is-active]:border-current">Yearly</span>
      </button>
    </div>
  </div>

  <div class="container mx-auto flex flex-col gap-6 items-center justify-center max-w-lg p-4 lg:max-w-full sm:p-10 lg:flex-row">
    <div class="flex flex-col items-center justify-center flex-1 p-4 pb-8 sm:p-8 lg:p-16">
			<span class="inline-block px-4 py-0.5 bg-gradient-to-r from-primary to-tertiary text-white rounded-full mb-4 text-base font-semibold">Watson</span>
			<p class="text-5xl font-bold text-center" data-triggered-by="monthly">10€ / month</p>
			<p class="text-5xl font-bold text-center hidden" data-triggered-by="yearly">100€ / year</p>
      <ul class="my-8 text-lg">
        <li class="flex items-center mb-2 space-x-2">
          <%= inline_svg("icons/circle-check.svg", aria_hidden: true, class: "flex-shrink-0 w-8 h-8 text-green-500") %>
          <span class="whitespace-nowrap">Access to our newsletter</span>
        </li>
        <li class="flex items-center mb-2 space-x-2">
           <%= inline_svg("icons/circle-x.svg", aria_hidden: true, class: "flex-shrink-0 w-8 h-8 text-red-500") %>
          <span class="whitespace-nowrap line-through">Access to our podcast episodes</span>
        </li>
      </ul>
			<button class="px-8 py-3 mt-6 text-lg font-semibold border rounded-xl sm:mt-12 border-gray-700">Subscribe</button>
		</div>

    <div class="bg-gradient-to-br from-primary via-secondary to-tertiary rounded-2xl p-5 flex-1 shadow-2xl">
      <div class="flex flex-col items-center justify-center flex-1 pb-8 text-center rounded-xl sm:p-8 lg:p-16 bg-gradient-to-tl from-white/90 to-white">
  			<span class="inline-block px-4 py-0.5 bg-gradient-to-r from-primary to-tertiary text-white rounded-full mb-4 text-base font-semibold">Sherlock</span>
        <p class="text-5xl font-bold text-center" data-triggered-by="monthly">20€ / month</p>
        <p class="text-5xl font-bold text-center hidden" data-triggered-by="yearly">200€ / month</p>
        <ul class="my-8 text-lg">
          <li class="flex items-center mb-2 space-x-2">
            <%= inline_svg("icons/circle-check.svg", aria_hidden: true, class: "flex-shrink-0 w-8 h-8 text-green-500") %>
            <span class="whitespace-nowrap">Access to our newsletter</span>
          </li>
          <li class="flex items-center mb-2 space-x-2">
            <%= inline_svg("icons/circle-check.svg", aria_hidden: true, class: "flex-shrink-0 w-8 h-8 text-green-500") %>
            <span class="whitespace-nowrap">Access to all podcast episodes</span>
          </li>
        </ul>
        <button class="px-8 py-3 mt-6 text-lg font-semibold rounded-xl sm:mt-12 bg-gray-800 text-gray-50">Subscribe</button>
      </div>
    </div>
	</div>
</section>
